<ion-header>
  <ion-toolbar class="b">
    <ion-title
      style="padding-left:125px; --color:#fff font-size:25px"
      style="color: #fff"
    >
      Bienvenido
    </ion-title>
    <ion-buttons slot="start">
      <ion-button autoHide="false" (click)="onBackReload()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content class="sign-container gradient-1">
    <ion-card class="c">
    <ion-card-header>
      <ion-card-subtitle>FastHospital</ion-card-subtitle>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p style="text-align: justify">
        Esta es una app confiable, tendras todo el acceso a los pacientes que
        sean registrados, al igual que a las consultas que se esten
        desarrolando.
      </p>
    </ion-card-content>
  </ion-card>
  <br />
  <ion-card class="c">
    <ion-card-header>
      <ion-card-subtitle>FastHospital</ion-card-subtitle>
      <ion-card-title>Control de tu consultas</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p style="text-align: justify">
        Aqui tendras todo el control de las consultas que quieras realzar como
        doctor, seras el encargado de hacer las consultas como te sean mas
        favorables.
     
      </p>
    </ion-card-content>
  </ion-card>

 <div><img src="../../../assets/bienvenido_bg.svg"></div>
</ion-content>
<!-- <img width="100%" height="50%"  [src]="imageUrl || 'assets/img/i-crear.png' "> -->
