
<div class="miForm">
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label color="fhospitalsecond" position="floating"
            >Contraseña actual</ion-label
          >
          <ion-input
            name="passwordOld"
            required
            type="password"
            clearInput="true"
            color="fhospitalsecond"
            [disabled]="false"
            #passwordOld
            [value]="user.passwordOld"
            (keyup)="onPasswordOld(passwordOld.value)"
          ></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label color="fhospitalsecond" position="floating"
      >Contraseña nueva</ion-label
    >
    <ion-input
    required
      id="passwordNew"
      name="passwordNew"
      required
      type="password"
      clearInput="true"
      color="fhospitalsecond"
      [disabled]="false"
      #passwordNew
      [value]="user.passwordNew"
      (ionChange)="onPasswordNew(passwordNew.value)"
      (keyup.enter)="updateEmail()"
    ></ion-input>
  </ion-item>
  <ion-row>
   
    <ion-col size="8" offset="2">
      <ion-button

      fill="outline"
        color="fhospitalprimary"
        shape="round"
        expand="full"
        (click)="updatePassword()"
      >
        Actualizar
      </ion-button>
    </ion-col>
  </ion-row>
</div>