<ion-content>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" >
    <path fill="#00bcc5" fill-opacity="1" d="M0,64L60,53.3C120,43,240,21,360,53.3C480,85,600,171,720,218.7C840,267,960,277,1080,256C1200,235,1320,181,1380,154.7L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>
  <div class="heart-position">
    <div class="lds-heart"><div></div></div>
  </div>
  <ion-slides pager="true">
  
      <ion-slide *ngFor="let slide of slides;let i = index">
        
        <ion-img [src]=slide.img></ion-img>
          
          
          <h3>{{slide.titulo}}</h3>
          <p>{{slide.subtitulo}}</p>
  

      </ion-slide>

  </ion-slides>  
  <div class="bottom-svg">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background:#00bcc5 ;">
      <path fill="#fff" fill-opacity="1" d="M0,64L60,53.3C120,43,240,21,360,53.3C480,85,600,171,720,218.7C840,267,960,277,1080,256C1200,235,1320,181,1380,154.7L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
 <ion-grid>
   <ion-row>
     <ion-col size="10" offset="1">
      <ion-button expand="full"
                    shape="round"
                    color="fhospitalsecond"
                    routerLink="/inicio-sesion">
      Iniciar Sesion
      </ion-button>
     </ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="10" offset="1">
     <ion-button expand="full"
                   shape="round"
                   color="fhospitalsecond"
                   fill="clear"
                   routerLink="/registro">
      Registrar
     </ion-button>
    </ion-col>
  </ion-row>
 </ion-grid>

</ion-footer>