.container{
    height: 100%;
    
}
.butn-home{
    position: absolute;
    top: 5px;
    left: 5px;
}
.container-2{
    margin: 10px;
    border-radius: 20px;
    padding-bottom: 40px;
    .hello{
        h1{
            font-size: 40px;
            font-weight: 200;
        }
        ion-label{
            font-size: 40px;
            font-weight: 600;

            img{
                display: inline;
                width: 35px;
            }
        }
        img{
            
            width: 70px;
        }
    }

    .message{
       border-radius: 20px;
       background: url('../../../assets/fondo.svg');
       //background-repeat: no-repeat;
       background-size: cover;
       color: white;
       margin-top: 20px;
       padding: 2px 20px 0px 20px;
       

       h1{
           font-weight: 400;
       }
       ion-row{
           ion-col{
            p{
                font-weight: lighter;
                font-size: 16px;
                z-index: 1;
            }
           }
       }
       
    }
}

.categorias{
    width: 50%;
    
    
}

.contenedor-categoria{
    border-radius: 35px;
    color: white;
    background: url('../../../assets/bg-button.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    text-align: center;
    height: 130px;
}


ion-label{
    h2{
        font-size: 26px;
        font-weight: 500;
        margin-top: 25px;

    }
}
.col{
    margin: 2px;
}
.contenedor-icon{
    border-radius: 20px;
    box-shadow: 5px 5px 10px #aaa;
    padding-bottom: 10px;
}
ion-card{
    width: 100%;
    box-shadow: 100%;
    border-radius: 14px;
    padding:14px;
    background: rgba(255,255,255,.8);
    .main{
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #fff;
        box-shadow: 7px 7px 20px #dbdfe2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:14px;
        img{
            width: 30px;
        }
       
    }

}
.slides{
    background: url('../../../assets/bg_slides.svg'),#f1f5f8;
    background-size: cover;
    padding: 4px 10px 20px 10px ;
    border: 0 0 28px 28px;
    border-radius: 10px 10px 28px 28px;
}

