<ion-content>
  <div class="background">
    <ion-buttons>

      <ion-buttons slot="start" style="width: 100%;">
        <ion-back-button color="fhospitalsecond" defaultHref='/welcome'></ion-back-button>
      </ion-buttons>
      
      <ion-buttons slot="end">
        <div class="lds-heart"><div></div></div>
      </ion-buttons>
    </ion-buttons>
    
    <div class="contenidor-logo">
      <div class="contenedor-img">
        <ion-grid>
          <ion-row>
            <ion-col size="4" offset="4">
              <ion-img src="assets/doctorr.svg"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-row>
        <ion-col class="center-logo">
          <h2>Fast <small>Hospital</small></h2>
        </ion-col>
      </ion-row>
      <div class="center-sub">
        <p>Tu salud es Primero!</p>
      </div>
    </div>
    <form #miFormulario="ngForm">
      <div class="miForm">
        <ion-item>
          <ion-label color="fhospitalsecond" position="floating">Correo</ion-label>
          <ion-input
            name="email"
            required
            type="email"
            clearInput="true"
            color="fhospitalsecond"
            [(ngModel)]="userLogin.email"
            minlength=10
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="fhospitalsecond" position="floating">Contraseña</ion-label>
          <ion-input
            shape="round"
            name="password"
            required
            type="password"
            clearInput="true"
            color="fhospitalsecond"
            minlength="8"
            (keyup.enter)="onWelcomeFastH()"
            [(ngModel)]="userLogin.password"
          ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="8" offset="2">
            <ion-button type="submit" color="fhospitalprimary" disabled="false" shape="round" expand=full (click)="onWelcomeFastH()" >
              Iniciar Sesion
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <h3>No eres miembro? <a color="fhospitalsecond" (click)="onInicioSesion()">Registrarse</a></h3>
</ion-footer>
