

  .message{
    border-radius: 20px;
    background: url('../../../assets/fondo.svg');
    background-size: cover;
    color: white;
    

    h1{
        font-weight: 400;
    }
    ion-row{
        ion-col{
         p{
             font-weight: lighter;
             font-size: 16px;
             z-index: 1;
         }
        }
    }
    
 }
