<ion-header>
  <ion-toolbar class="b">
    <ion-title
      style="padding-left:125px; --color:#fff font-size:25px"
      style="color: #fff"
    >
      Reportes
    </ion-title>
    <ion-buttons slot="start">
      <ion-button autoHide="false" (click)="onBackReload()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center; color: rgb(255, 255, 255);">Reportes</h1>
  <br>
  <ion-card>
    <div>
      <ion-item class="a" button detail="false"  color="light" >
        <ion-label>
          <b style="color: rgb(8, 8, 8);">Reporte  por Fecha</b>
        </ion-label>
       
      </ion-item>
    </div>
    <ion-card-content #expandWrapper color="light">
     
        <ion-item style="border: #999 solid 1px; border-radius: 20px">
          <ion-input
            type="date"
            displayFormat="DD-MM-YYYY"
            [(ngModel)]="buscador"
            (ionChange)="cambairFecha()"
          >
          </ion-input>
        </ion-item>
        <div *ngIf="consultaFecha.length>0" class="slides ion-margin-bottom">
          <ion-item style="margin-top: 15px">
            <ion-icon
              color="fhospitalprimary"
              slot="start"
              name="bar-chart-outline"
            ></ion-icon>
  
            <ion-label slot="start">Total Consultas</ion-label>
            <ion-button slot="end" shape="round" fill="outline" disabled="true"
              >{{consultaFecha.length}}</ion-button
            >
          </ion-item>
          <ion-slides [options]="slidesOptions">
            <!--<ion-slide *ngFor="let consultaP of consultaFecha | buscarFecha :buscador: aplicarFiltro:'Fecha'; let i = index">-->
            <ion-slide *ngFor="let consultaP of consultaFecha ; let i = index">
              <ion-card>
                <ion-card-header>
                  <div class="main">
                    <img
                      src="../../../assets/diversity_avatar_girl_woman_black_hair_people_icon_159085.svg"
                    />
                  </div>
                  <div class="bottom-main">
                    <ion-item class="">
                      <ion-label>
                        <h2>{{consultaP.Paciente}}</h2>
                        <h3>{{consultaP.Fecha}}</h3>
                      </ion-label>
                      <ion-label>
                        <h4>
                          <h2 style="font-size: 16px">Nom. Seguro</h2>
                          {{consultaP.Numero_Seguro}}
                        </h4>
                      </ion-label>
                    </ion-item>
                  </div>
                </ion-card-header>
                <ion-card-content class="ion-text-left">
                  <ion-card-subtitle class="ion-text-right"
                    >{{i+1}}/{{consultaFecha.length}}</ion-card-subtitle
                  >
                  <ion-progress-bar color="fhospitalsecond"
                    value="{{(i+1)/(consultaFecha.length)}}"
                  ></ion-progress-bar>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
        <div *ngIf="consultaFecha.length==0" class="slides ion-margin-bottom">
          <ion-item>
            <ion-icon
              color="fhospitalprimary"
              slot="start"
              name="bar-chart-outline"
            ></ion-icon>
            <ion-label slot="start">Total Consultas</ion-label>
            <ion-button slot="end" shape="round" fill="outline" disabled="true"
              >{{consultaFecha.length}}</ion-button
            >
          </ion-item>
          <ion-slides>
            <!--<ion-slide *ngFor="let consultaP of consultaFecha | buscarFecha :buscador: aplicarFiltro:'Fecha'; let i = index">-->
            <ion-slide>
              <ion-card>
                <ion-card-header>
                  <div class="main">
                    <img
                      src="../../../assets/diversity_avatar_girl_woman_black_hair_people_icon_159085.svg"
                    />
                  </div>
                  <div class="bottom-main">
                    <ion-item class="">
                      <ion-label>
                        <h2 style="font-size: 16px">Dia sin Consulta!</h2>
                        <h4>Fecha: {{buscador}}</h4>
                      </ion-label>
                    </ion-item>
                  </div>
                </ion-card-header>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
      
    </ion-card-content>
  </ion-card>

  <br>
  <ion-card>
    <div>
      <ion-item class="a" button detail="false" color="light" >
        <ion-label>
          <b style="color: rgb(10, 10, 10);">Reporte por visitas</b>
        </ion-label>
       
      </ion-item>
    </div>
    <ion-card-content #expandWrapper>

          <div
            *ngIf="cantidadConsultasPacientes.length>0"
            class="slides ion-margin-bottom"
          >
            <ion-item style="margin-top: 15px">
              <ion-icon
                color="fhospitalprimary"
                slot="start"
                name="bar-chart-outline"
              ></ion-icon>
              <ion-label slot="start">Consultas</ion-label>
              <ion-button slot="end" shape="round" fill="outline" disabled="true"
                >{{cantidadConsultasPacientes.length}}</ion-button
              >
            </ion-item>
            <ion-slides>
              <!--<ion-slide *ngFor="let consultaP of consultaFecha | buscarFecha :buscador: aplicarFiltro:'Fecha'; let i = index">-->
              <ion-slide
                *ngFor="let cantidadConsulta of cantidadConsultasPacientes ; let i = index"
              >
                <ion-card>
                  <ion-card-header>
                    <ion-item class="ion-no-border">
                      <ion-icon
                        slot="start"
                        color="shospitalprimary"
                        name="bandage-outline"
                        color="fhospitalprimary"
                      ></ion-icon>
                      <ion-label slot="start">Cantidad</ion-label>
                      <ion-button
                        slot="end"
                        shape="round"
                        fill="outline"
                        disabled="true"
                        >{{cantidadConsulta.Cantidad}}</ion-button
                      >
                    </ion-item>
                    <div class="main">
                      <img
                        src="../../../assets/diversity_avatar_girl_woman_black_hair_people_icon_159085.svg"
                      />
                    </div>
                    <div class="bottom-main">
                      <ion-item class="">
                        <ion-label>
                          <h2>{{cantidadConsulta.Nombre}}</h2>
                          <h3>{{cantidadConsulta.Email}}</h3>
                        </ion-label>
                        <ion-label>
                          <h4>
                            <h2 style="font-size: 16px">
                              {{cantidadConsulta.Apellido}}
                            </h2>
                            {{cantidadConsulta.Cedula}}
                          </h4>
                        </ion-label>
                      </ion-item>
                    </div>
                  </ion-card-header>
                  <ion-card-content class="ion-text-left">
                    <ion-card-subtitle class="ion-text-right"
                      >{{i+1}}/{{cantidadConsultasPacientes.length}}</ion-card-subtitle
                    >
                    <ion-progress-bar color="fhospitalsecond"
                      value="{{(i+1)/(cantidadConsultasPacientes.length)}}"
                    ></ion-progress-bar>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </div>
          <div
            *ngIf="cantidadConsultasPacientes.length==0"
            class="slides ion-margin-bottom"
          >
            <ion-slides>
              <!--<ion-slide *ngFor="let consultaP of consultaFecha | buscarFecha :buscador: aplicarFiltro:'Fecha'; let i = index">-->
              <ion-slide>
                <ion-card>
                  <ion-card-header>
                    <div class="main">
                      <img
                        src="../../../assets/diversity_avatar_girl_woman_black_hair_people_icon_159085.svg"
                      />
                    </div>
                    <div class="bottom-main">
                      <ion-item class="">
                        <ion-label>
                          <h2 style="font-size: 16px">No Hay Pacietes</h2>
                          <h4>no se han registrados consultas</h4>
                        </ion-label>
                      </ion-item>
                    </div>
                  </ion-card-header>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </div>
    </ion-card-content>
  </ion-card>

  <br>
  <br>
  <ion-card>
    <div>
      <ion-item class="a" button detail="false" color="light" >
        <ion-label>
          <b style="color:rgb(12, 12, 12);">Reporte de Zodiaco</b>
        </ion-label>
         
      </ion-item>
    </div>
    <ion-card-content #expandWrapper >
       
      <div *ngIf="reporteZodiacal.length>0" class="slides ion-margin-bottom">
        <ion-item style="margin-top: 15px">
          <ion-icon
            color="fhospitalprimary"
            slot="start"
            name="bar-chart-outline"
          ></ion-icon>
          <ion-label slot="start">Zodiaco</ion-label>
          <ion-button slot="end" shape="round" fill="outline" disabled="true"
            >{{reporteZodiacal.length}}</ion-button
          >
        </ion-item>
        <ion-slides>
          <!--<ion-slide *ngFor="let consultaP of consultaFecha | buscarFecha :buscador: aplicarFiltro:'Fecha'; let i = index">-->
          <ion-slide *ngFor="let zodiaco of reporteZodiacal ; let i = index">
            <ion-card>
              <ion-card-header>
                <div class="main">
                  <img
                    src="../../../assets/diversity_avatar_girl_woman_black_hair_people_icon_159085.svg"
                  />
                </div>
                <div class="bottom-main">
                  <ion-item class="">
                    <ion-label>
                      <h2>{{zodiaco.Nombre}}</h2>
                      <h3 style="font-size: 18px">{{zodiaco.Apellido}}</h3>
                    </ion-label>
                    <ion-label>
                      <h2 style="font-size: 18px">{{zodiaco.Zodiaco}}</h2>
                      <h3>{{zodiaco.Cedula}}</h3>
                    </ion-label>
                  </ion-item>
                </div>
              </ion-card-header>
              <ion-card-content class="ion-text-left">
                <ion-card-subtitle class="ion-text-right"
                  >{{i+1}}/{{reporteZodiacal.length}}</ion-card-subtitle
                >
                <ion-progress-bar color="fhospitalsecond"
                  value="{{(i+1)/(reporteZodiacal.length)}}"
                ></ion-progress-bar>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
      <div *ngIf="reporteZodiacal.length==0" class="slides ion-margin-bottom">
        <ion-item style="margin-top: 15px">
          <ion-icon
            color="fhospitalprimary"
            slot="start"
            name="bar-chart-outline"
          ></ion-icon>
          <ion-label slot="start">Zodiaco</ion-label>
          <ion-button slot="end" shape="round" fill="outline" disabled="true"
            >{{reporteZodiacal.length}}</ion-button
          >
        </ion-item>
        <ion-slides>
          <!--<ion-slide *ngFor="let consultaP of consultaFecha | buscarFecha :buscador: aplicarFiltro:'Fecha'; let i = index">-->
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <div class="main">
                  <img
                    src="../../../assets/diversity_avatar_girl_woman_black_hair_people_icon_159085.svg"
                  />
                </div>
                <div class="bottom-main">
                  <ion-item class="">
                    <ion-label>
                      <h2 style="font-size: 16px">No Tienes Pacientes</h2>
                      <h4>Registrar Paciente</h4>
                    </ion-label>
                    <ion-label>Zodiaco</ion-label>
                  </ion-item>
                </div>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
      
    </ion-card-content>
  </ion-card>
</ion-content>




